.card {
    margin: 5% 3% !important;
    background: #000 !important;
    color: #fff !important;
    border: none !important;
    outline: none !important;
    padding: 2% 5% !important;

}

.container {
    overflow: hidden;
    display: flex !important;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #fff;
    margin: 10% 0 19% 0;
}

.infected {
    background: #271f55d2 !important;
}

.recovered {
    background: green !important;
}

.deaths {

    background: rgba(255, 0, 0, 0.863) !important;
}