.card {
    margin: 10% 2% !important;
    background: none !important;
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

h2 {
    text-align: center;
    color: #fff;
    margin: 10% 0 19% 0;
}