@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #e9e8e8;
}

.App {
  font-family: sans-serif;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Components/assets/bg1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.heading {
  padding: 15% 5% 0 10%;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.logo {
  width: 50px;
  height: auto;
}

.Nav {
  padding: 10px 0 !important;
}

.covid {
  color: #ec4f4f;
}

.pie {
  overflow-x: hidden;
}

.pie h3 {
  text-align: center;
  margin: 7% 0;
}

.card2 {
  overflow: hidden;
}

.btn {
  color: #fff !important;
  /* text-decoration: none !important;*/
  font-size: 1.2rem !important;

}


.footer {
  background: #271F55;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
}

.cont {
  padding: 7px 0;
}

.contact a {
  font-size: 1.5rem;
  color: #fff !important;
  padding: 0 5px;
}

.contact a:hover {
  color: #ec4f4f !important;
}

@media (max-width:760px) {
  .btn {
    font-size: 0.8rem !important;

  }

  .heading {
    padding-top: 18%;
    font-size: 2rem;
  }

  .Nav {
    padding: 0px 0 !important;
  }

  .logo {
    width: 30px;

  }
}