@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body {
  background: #e9e8e8;
}

.App {
  font-family: sans-serif;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Components/assets/bg1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.heading {
  padding: 15% 5% 0 10%;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.pie {
  overflow-x: hidden;
}

.pie h3 {
  text-align: center;
  margin: 7% 0;
}

.card2 {
  overflow: hidden;
}

.btn {
  color: #fff !important;
  /* text-decoration: none !important;*/
  font-size: 1.2rem !important;

}

@media (max-width:760px) {
  .btn {
    font-size: 0.8rem !important;

  }

  .heading {
    font-size: 2rem;
  }
}